{% extends "base.html" %}


{% block content %}


    {% for image in images %}

        <img src="{{ image.image.url }}" width="200px" height="200px"/>

    {% endfor %}

    <hr><br>

        {{ listing.title }}
        <br><br>
        {{ listing.description }}
        <br><br>

        {% if is_seller %}
            <button>
                <a href="{% url 'listing:update_listing' listing.id %}">ویرایش آگهی</a>
            </button>
            <form method="post" action="{% url 'listing:delete_listing' listing.id %}" 
                style="display:inline;" onsubmit="return confirm('آیا از حذف این آگهی اطمینان دارید؟')">

                {% csrf_token %}
                <button class="btn btn-danger">حذف آگهی</button>
            </form>
        {% else %}
            <button type="button" class="bookmark-btn" data-index="{{ listing.id }}" style="fontsize:22px;">
                {% if is_bookmarked %}
                    <i class="fa-solid fa-bookmark"></i>
                {% else %}
                    <i class="fa-regular fa-bookmark"></i>
                {% endif %}
            </button>
            <button type="button">
                <a href="{% url 'chat:start_chat' listing.seller.username listing.id %}">گفتگو با فروشنده</a>
            </button>
        {% endif %}


<script>
    let deletedImages = [];

    $(document).on("click", ".bookmark-btn", function (e) {
        e.preventDefault();

        const button = $(this);
        const listing_id = button.data("index");

        $.ajax({
            url: "{% url 'listing:toggle_bookmark' listing.id %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken:"{{ csrf_token }}",
            },
            success: function(json){
                const icon = button.find("i");

                if(json.bookmarked){
                    icon.removeClass("fa-regular").addClass("fa-solid");
                }
                else{
                    icon.removeClass("fa-solid").addClass("fa-regular");
                }
            },
            error: function(xhr, status, err){
                console.log(err);
            }

        });

    });


</script>

{% endblock content %}


