{% extends "base.html" %}
{% load static %}

{% block content %}

    
    {% include "includes/listing_form.html" %}


<script>
    let deletedImages = [];

    $(document).on("click", ".delete_image", function (e) {
        e.preventDefault();
        console.log("OK");
        const id = $(this).data("index");

        deletedImages.push(id);

        $(this).closest(".image_box").remove();
        console.log(deletedImages)
    });



    $("form").on("submit", function () {
        console.log(deletedImages)
        $("#deleted_images").val(JSON.stringify(deletedImages));
    });

</script>

{% endblock content %}

